.about {
  margin: 14rem 190px 18rem;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__wrapper .about__wrapper-image {
  transition: 0.3s ease;
}

.about__wrapper .about__wrapper-image:hover {
  transform: scale(1.1);
}

.about__wrapper .about__wrapper-info {
  width: 63%;
  padding-right: 14px;
  padding-top: 15px;
}

.about__wrapper .about__wrapper-info p,
.about__career-info p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #5e5d5d;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.6;
}

.about__wrapper .about__wrapper-info h1,
.about__career-info h1,
.resume h3 {
  font-family: "Berkshire Swash", cursive;
  font-size: 2.6rem;
  letter-spacing: 1.1px;
  margin-bottom: 1.2rem;
  margin-top: 0.8rem;
  padding: 0.5rem 0;
}

.about__career {
  display: flex;
  justify-content: space-between;
  margin: 12rem auto;
}

.about__career-info {
  width: 56%;
  padding-right: 14px;
}

.about__career .about__career-skills {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 420px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  transform: translate(0%, 45%);
}

.about__career .about__career-skills .skills {
  /* border: 1px solid #808080; */
  border: 2px solid rgba(128, 128, 128, 25%);
  border: opacity 80%;
  border-radius: 8px;
  padding: 6px;
  transition: 0.3s ease;
}

.about__career .about__career-skills .skills:hover {
  transform: scale(1.2);
  z-index: 2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(230, 228, 228, 0.767);
}

/* Testimonials */

.testimonial {
  margin: -7rem 180px 10rem;
  background-color: #f6f6f6;
  padding: 20px 10px;
  border-radius: 20px;
}

.testimonial h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 2.6rem;
  margin-left: 10px;
  letter-spacing: 1.1px;
  padding: 5px 0;
}

.testimonial__details {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
}

.testimonial__details .testimonial__details-person {
  text-align: center;
  width: 40%;
  /* padding-left: 10px; */
  letter-spacing: 1.2px;
}

.testimonial__details .testimonial__details-text {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-right: 20px;
  padding-top: 25px;
  padding-left: 30px;
  color: #747474;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.testimonial__details .testimonial__details-person img {
  border-radius: 100%;
  transition: 0.3s ease;
}

.testimonial__details .testimonial__details-person img:hover {
  transform: scale(1.05);
}

.testimonial__details .testimonial__details-person .name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 17px;
}

.testimonial__details .testimonial__details-person .designation {
  color: #747474;
  margin-top: -10px;
  font-size: 0.9rem;
  font-weight: 600;
}

/* download resume */
.resume {
  margin: 5rem 170px;
  display: flex;
  align-items: center;
}

.resume button {
  margin-left: 4rem;

  padding: 8px 40px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

.resume button:hover {
  transform: scale(1.1);
  background-color: #414a4c;
  color: #fff;
}

/* contact */
.contact {
  margin: 5rem 160px 10rem;
}
.contact .contact__wrapper {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 5rem 0;
  border-radius: 20px;
}

.contact .contact__wrapper h1 {
  width: 55%;
  font-size: 4rem;
  text-align: left;
  padding: 0.5rem 3rem 0.5rem;
  line-height: 5.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact .contact__wrapper .contact .contact__wrapper,
.contact .contact__wrapper .contact__wrapper-form {
  width: 50%;
}

.contact .contact__wrapper .contact__wrapper-form form {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

form .inputBox input,
form .inputBox textarea {
  border-radius: 6px;
  padding: 10px;
  border: none;
  background-color: #f5f2f2;
  margin: 20px;
  position: relative;
}

.size,
.textarea-label {
  position: relative;
}

.size label,
.textarea-label label {
  position: absolute;
  left: 30px;
  top: 30px;
  transition: all 0.25s ease-in-out 0s;
  color: grey;
  cursor: text;
  opacity: 0;
}

.size input:focus + label,
.textarea-label textarea:focus + label {
  top: -8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  opacity: 100%;
}

.inputBox-textarea {
  width: 100%;
  padding-right: 20px;
}
textarea {
  width: 90%;
  margin: auto;
}

.contact .contact__wrapper .contact__wrapper-form .submit button {
  margin: 20px;
  padding: 8px 40px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

.contact .contact__wrapper .contact__wrapper-form .submit button:hover {
  transform: scale(1.1);
  background-color: #414a4c;
  color: #fff;
}

/* media query */

@media screen and (max-width: 1150px) {
  .about {
    margin: 14rem 90px 18rem;
  }

  .about__wrapper .about__wrapper-image img {
    width: 250px;
  }

  .about__wrapper .about__wrapper-info {
    padding-right: 0;
    padding-top: 0;
  }

  .about__wrapper .about__wrapper-info p,
  .about__career-info p {
    font-size: 1.1rem;
  }

  .about__career-info {
    width: 55%;
  }

  .about__career .about__career-skills {
    font-size: 1rem;
    width: 410px;
  }

  .about__career .about__career-skills .skills {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* testimonial */

  .testimonial {
    margin: -7rem 90px 10rem;
  }

  .testimonial__details .testimonial__details-person {
    text-align: center;
  }

  .testimonial__details .testimonial__details-text {
    padding-top: 0;
    margin-top: 0;
  }

  /* resume */

  /* contact */
  .contact,
  .resume {
    margin: 5rem 90px 10rem;
  }

  .contact .contact__wrapper {
    padding: 3rem 0;
  }

  form .inputBox,
  form .inputBox input,
  form .inputBox textarea {
    width: 90%;
  }

  form .inputBox textarea {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .about,
  .testimonial,
  .contact,
  .resume {
    margin: 9rem 20px 10rem;
  }

  .about__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__wrapper .about__wrapper-image img {
    width: 270px;
  }

  .about__wrapper .about__wrapper-info {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .about__wrapper .about__wrapper-info p {
    text-align: left;
  }

  .about__wrapper .about__wrapper-info p,
  .about__career-info p {
    font-size: 1.3rem;
  }

  .about__wrapper .about__wrapper-info h1,
  .about__career-info h1,
  .testimonial h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }

  .about__career {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9rem auto;
  }

  .about__career-info {
    width: 100%;
  }

  .about__career .about__career-skills {
    transform: translate(0, 0);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .testimonial {
    background-color: #eeeeee;
  }

  .testimonial h1 {
    text-align: left;
  }

  .testimonial__details {
    flex-direction: column;
    align-items: center;

    padding: 3rem 0;
    border-radius: 10px;
  }

  .testimonial__details .testimonial__details-person {
    text-align: center;
    width: 100%;
  }

  .testimonial__details .testimonial__details-person img {
    width: 60%;
  }

  .testimonial__details .testimonial__details-text {
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
    color: black;
  }

  .testimonial__details .testimonial__details-person .name {
    font-size: 1.5rem;
  }

  .testimonial__details .testimonial__details-person .designation {
    font-size: 1.2rem;
    margin-top: -10px;
  }

  /* resume */
  .resume {
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  .resume h3 {
    width: 100%;
    font-size: 2.5rem;
  }
  .resume button {
    margin: 0;
  }

  /* contact */
  .contact .contact__wrapper {
    flex-direction: column;
    padding: 1rem 0;
  }

  .contact .contact__wrapper h1 {
    width: 100%;
  }

  .contact .contact__wrapper .contact__wrapper-form {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact .contact__wrapper .contact__wrapper-form .inputBox {
    width: 100%;
  }

  .contact .contact__wrapper .contact__wrapper-form .submit {
    width: 95%;
  }

  .contact .contact__wrapper .contact__wrapper-form .submit button {
    width: 95%;
    margin: 20px;
    padding: 14px;
  }

  .contact .contact__wrapper .contact__wrapper-form .submit button:hover {
    transform: scale(1.03);
  }
}

/* skill animation */
.skills:nth-of-type(1),
.skills:nth-of-type(3),
.skills:nth-of-type(5),
.skills:nth-of-type(8),
.skills:nth-of-type(10) {
  animation-name: grow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.skills:nth-of-type(2),
.skills:nth-of-type(6),
.skills:nth-of-type(9) {
  animation-name: grow1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.skills:nth-of-type(4),
.skills:nth-of-type(7),
.skills:nth-of-type(11) {
  animation-name: grow2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.14);
    z-index: 3;
  }
  0% {
    transform: scale(1);
  }
}

@keyframes grow1 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.13);
    z-index: 2;
  }
  0% {
    transform: scale(1);
  }
}

@keyframes grow2 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.14);
    z-index: 3;
  }
  15% {
    transform: scale(1.13);
    z-index: 3;
  }
  25% {
    transform: scale(1.12);
    z-index: 3;
  }
  0% {
    transform: scale(1);
  }
}
