.testimonial {
  margin: 2rem 170px 10rem 170px;
  padding-right: 5rem;
}

.testimonial > h3 {
  margin-bottom: 6rem;
  margin-left: 2rem;
  border: 2px solid #000;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  letter-spacing: 1.1px;
  padding: 0.5rem 2rem;
  font-weight: 600;
}

.testimonialCarousel {
  padding: 5rem 5rem 2rem 5rem;
  border: 3px solid #000;
  border-radius: 15px;
  margin-left: 7rem;
  position: relative;
}

.testimonialCarouselInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonialCarouselInner > img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 3px solid #000;
  position: absolute;
  transform: translateX(-10rem);
  top: 5rem;
}

.testimonialCarouselInner > p {
  width: 100%;
  /* transform: translateX(25%); */
  font-size: 17.5px;
  font-family: "Montserrat", sans-serif;
  margin-left: 3rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: justify;
}

.testimonialCarouselBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.testimonialCarouselBottom > .name {
  font-weight: bold;
}

.testimonialCarouselBottom > .degree {
  font-size: 13px;
}

/* media query */
@media screen and (max-width: 1150px) {
  .testimonial {
    margin: 14rem 50px 18rem;
  }

  .testimonial > h3 {
    margin-left: 4rem;
  }

  .testimonialCarouselInner > p {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .testimonial {
    margin: 9rem 13px 10rem;
    padding: 0;
  }

  .testimonial > h3 {
    margin-bottom: 10rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-size: 2.1rem;
    padding: 0.5rem 0.5rem;
  }

  .testimonialCarousel {
    width: 100%;
    margin: 0;
    padding: 6rem 2rem 2rem 2rem;
  }

  .testimonialCarouselInner > img {
    top: -5rem;
    left: 0;
    right: 0;
    transform: translateX(7.5rem);
  }

  .testimonialCarouselInner > p {
    margin: 0;
  }
}
